{% macro placeCard(model) %}

  <div class="card">
    <img class="card-img-top image-fluid" src="./images/{{model.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{model.name}}</h5>
      <p class="card-text">{{model.jobTitle}}</p> 
    </div>
  </div> 
  
{% endmacro %}